class Respuestastres(models.Model):

    respuesta_19 = models.CharField(max_length=255)
    respuesta_20 = models.CharField(max_length=255)
    respuesta_21 = models.CharField(max_length=255)
    respuesta_22 = models.CharField(max_length=255)
    respuesta_23 = models.CharField(max_length=255)
    respuesta_24 = models.CharField(max_length=255)
    respuesta_25 = models.CharField(max_length=255)
    respuesta_26 = models.CharField(max_length=255)
    respuesta_27 = models.CharField(max_length=255)
    
    def __str__(self):
        return f'Respuestasdos - {self.respuesta_19}, {self.respuesta_20}, {self.respuesta_21}, {self.respuesta_22}, {self.respuesta_23}, {self.respuesta_24}, {self.respuesta_25}, {self.respuesta_26}, {self.respuesta_27}'
class Respuestascuatro(models.Model):

    respuesta_28 = models.CharField(max_length=255)
    respuesta_29 = models.CharField(max_length=255)
    respuesta_30 = models.CharField(max_length=255)
    respuesta_31 = models.CharField(max_length=255)
    respuesta_32 = models.CharField(max_length=255)
    respuesta_33 = models.CharField(max_length=255)
    respuesta_34 = models.CharField(max_length=255)
    respuesta_35 = models.CharField(max_length=255)
    
    def __str__(self):
        return f'Respuestasdos - {self.respuesta_28}, {self.respuesta_29}, {self.respuesta_30}, {self.respuesta_31}, {self.respuesta_32}, {self.respuesta_33}, {self.respuesta_34}, {self.respuesta_35}'
